/* Fonts */

@font-face {
  font-family: "Frezeit-Regular";
  src: url(/assets/fonts/Freizeit-Regular.otf) format("opentype")
}

/* Custom properties*/

:root {
  --clr-blue: rgb(36, 59, 112);
  --clr-dark-blue: rgb(31, 46, 75);
  --clr-varm-grey: rgb(240, 232, 224);
  --clr-cold-grey: rgb(241, 243, 246);

  --ff-main: "Frezeit-Regular";
}


/* CSS RESET */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-main);
  font-weight: var(--fw-regular);
  font-size: 1rem;
  font-family: var(--ff-main);
	background-color: #444343;
}

img, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

/* Index */

main {
  /* max-width: 100%; */
  margin: auto;
}

.trykk {
  color: white;
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.page-container {
  margin-top: 50px;
  padding: 0 5rem;
}

.page-container img {
  object-fit: contain;
  width: 70%;
  margin: auto;
  height: 100%;
}

.page-container-small {
  display: none;
}


/* Navbar */

header {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container{
  position: fixed;
	max-width: 100%;
  width: 100%;
	margin:auto;
}

ul{
	list-style: none;
	margin:0;
	padding:0;
}

a{
	text-decoration: none;
}

.header{
	position: absolute;
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
}
.header-main{
	background-color: var(--clr-dark-blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px;
}

.logo {
  width: 160px;
  height: 100%;
  padding-left: 10px;
}

.header .nav-menu{
	padding: 0 15px;
}

.header .menu > .menu-item{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}

.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 16px;
	color: white;
	transition: all 0.3s ease;
}

.header .menu > .menu-item > a .plus{
  color: white;
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}

.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: white;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}

.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
   background-color: white;
}

.header .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
}

.header .menu > .menu-item > .sub-menu > .menu-item > a:hover{
  background-color: var(--clr-blue);
}

.header .menu > .menu-item > .sub-menu{
	width: 220px;
	position: absolute;
	left:0;
	top:100%;
	background-color: var(--clr-dark-blue);
	padding: 10px 0;
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}

@media(min-width: 992px){

.header .menu > .menu-item-has-children:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }

 .header .menu > .menu-item-has-children:hover > a .plus:after{
    transform: translate(-50%,-50%) rotate(0deg);		
 }
}

.header .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}

.header .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	color: white;
	transition: all 0.3s ease;
}

.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: white;
    position: relative;
}

.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: white;
	box-sizing: border-box;
}

.header .open-nav-menu span:before{
	top:-7px;
}

.header .open-nav-menu span:after{
	top:7px;
}

.header .close-nav-menu{
	height: 40px;
	width: 40px;
	margin:0 0 10px 5px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}

.header .close-nav-menu img{
	width: 16px;
}

.close-nav {
	color: white;
	width: 15px;
}

.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}

.home-section{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url('../img/home.jpg');
	background-position: center top;
	background-size: cover;
}
/* 
.om-oss-menu {
	z-index: -1;
} */

.hidden {
  display: none;
}


/* .header .menu-item.hidden {
  display: none;
} */

/* To top button */

.to-top-btn {
  background-color: var(--clr-varm-grey);
  position: fixed;
  bottom: 50px;
  right: 4rem;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-dark-blue);
  pointer-events: none;
  opacity: 0;
  transition: all .4s;
  text-decoration: none;
  cursor: pointer;
  z-index: 5;
}

.to-top-btn.active {
  bottom: 200px;
  opacity: 1;
  pointer-events: auto;
}


footer {
  height: 32rem;
  background-color: var(--clr-dark-blue);
  margin-top: 100px;
}

.footer-content {
  max-width: 70%;
  padding: 5rem 0 0;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 9rem;
}

.footer-credits {
  display: flex;
  justify-content: space-between;
}

.footer-credits p,
.footer-links p {
  margin-top: 12px;
}

.footer-logo {
  width: 150px;
  padding-top: 6.5rem;
}

/* Modal Image */

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 110vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: block;
  margin: auto;
	width: 150%;
  height: 150%;
  max-width: 100%;
  max-height: 200%;
	/* transform: scale(1.5); */
  padding: 0 0 5rem 0;
}

.close-bg {
  background-color: var(--clr-dark-blue);
  border-radius: 50%;
  position: absolute;
  width: 55px;
  height: 55px;
  top: 15px;
  right: 15px;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


@media (max-width: 1500px) {

	.page-container {
		gap: 30px;
		padding: 0 3rem;
	}
}

@media (max-width: 1395px) {
  main {
    max-width:95%;
  }

.page-container img {
  object-fit: contain;
  width: 80%;
  margin: auto;
  height: 100%;
}
}

@media (max-width: 1180px) {
	.page-container {
    display: none;
  }

	.page-container-small {
		display: block;
		justify-content: center;
		margin: auto;
		align-items: center;
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	
	.page-container-small img {
		height: 90vh;
		width: 80%;
		object-fit: contain;
	}
}

@media(max-width: 991px){
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: var(--clr-dark-blue);
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid white;
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid white;	
	}
	.header .menu > .menu-item > a .plus:before, 
	.header .menu > .menu-item > a .plus:after{
		background-color: #ffffff;
	}
	.header .menu > .menu-item-has-children.active > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);
	}
	.header .menu > .menu-item > .sub-menu{
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border:none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		left: auto;
		top:auto;
		max-height: 0;
		overflow: hidden;
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a{
		padding: 12px 45px;
		color: #ffffff;
		border-bottom: 1px solid rgb(61, 61, 85)
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}

  .footer-content {
    gap: 4rem;
  }
}

@media (max-width: 750px) {
	.to-top-btn {
		right: 0;
	}

	.close-bg {
		width: 35px;
		height: 35px;
		font-size: 30px;
	}
}


@media (max-width: 650px) {

  .footer-content {
    padding: 3rem 0 0;
  }

  .footer-credits {
    flex-direction: column;
  }

  .footer-logo {
    padding-top: 2rem;
  }

	.page-container-small {
		gap: 5px;
	}

	.page-container-small img {
		height: 100%;
		width: 80%;
		object-fit: contain;
	}

	.modal-content {
		display: block;
		margin: auto;
		width: 100%;
		height: 100vh;
		max-width: 100%;
		max-height: 200%;
		/* transform: scale(1.5); */
		padding: 2rem 0;
		
	}
}

@media (max-width: 450px) {
	
	.page-container-small img {
		height: 100%;
		width: 80%;
		object-fit: contain;
	}
}