/* Fonts */

@font-face {
  font-family: "Frezeit-Regular";
  src: url(/assets/fonts/Freizeit-Regular.otf) format("opentype");
}

/* Custom properties*/

:root {
  --clr-blue: rgb(36, 59, 112);
  --clr-dark-blue: rgb(31, 46, 75);
  --clr-varm-grey: rgb(240, 232, 224);
  --clr-cold-grey: rgb(241, 243, 246);

  --ff-main: "Frezeit-Regular";

  --header-height: 3.5rem;
  --top-peek: 3vh;
}

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-main);
  font-weight: var(--fw-regular);
  font-size: 1rem;
  font-family: var(--ff-main);
  background-color: #444343;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

/* Index */

main {
  margin: auto;
}

.trykk {
  color: var(--clr-dark-blue);
  margin-top: 40px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: end;
  /* position: absolute; */
}

.trykk p {
  background-color: white;
  color: var(--clr-dark-blue);
  height: 60px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.page-container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.page-container {
  padding: 0 1rem;
}

.page-container-small {
  display: none;
  justify-content: center;
  margin: auto;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.page-container,
.page-container-small {
  gap: 2vh;
  padding: 0 1vh;
}

.page-container div {
  aspect-ratio: 2000 / 1458;
}
.page-container-small div {
  aspect-ratio: 700 / 1021;
}

.page-container div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: calc(97vh - var(--header-height));
}

.page-container-small div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: calc(88vh - var(--header-height));
}

.page-container div img,
.page-container-small div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  top: calc(5.5vh + var(--header-height));
}

/* Navbar */

.no-scroll {
  overflow: hidden;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-dark-blue);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: 100;
}

.nav {
  height: var(--header-height);
}

.nav__logo,
.nav__burger,
.nav__close {
  color: white;
}

.logo {
  width: 130px;
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */

@media screen and (max-width: 1000px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 70%;
    /* height: calc(100vh - 3.5rem); */
    height: 100vh;
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
    background-color: var(--clr-dark-blue);
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--clr-dark-blue);
    padding: 1rem 0 0 0;
  }

  .nav__link,
  .dropdown__link {
    -webkit-tap-highlight-color: transparent;
  }

  .nav-mobile {
    display: block;
  }
}

.nav {
  height: 70px;
}

.nav__link {
  color: white;
  background-color: var(--clr-dark-blue);
  font-weight: 400;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  list-style: none;
}

.appendiks-desktop,
.appendiks-mobil {
  color: white;
  text-decoration: none;
}

/* .appendiks-mobil {
  padding-bottom: 7rem;
} */

.nav__link:hover {
  background-color: var(--clr-blue);
}

.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/* Dropdown menu */

.dropdown__item {
  cursor: pointer;
  list-style: none;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link {
  padding: 0.8rem 0;
  color: white;
  background-color: var(--clr-dark-blue);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 400;
  transition: background-color 0.3s;
  text-decoration: none;
}

.dropdown__link:last-child {
  border-bottom: none;
}
.dropdown__link i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover {
  background-color: var(--clr-blue);
}

.dropdown__menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  list-style: none;
}

.dropdown__menu.scrollable {
  overflow-y: auto;
}

.dropdown__menu li a {
  color: white;
}

.dropdown__item:hover .dropdown__menu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

.link-fill {
  padding-bottom: 10rem;
  cursor: auto;
}

.link-fill:hover {
  background-color: var(--clr-dark-blue);
}

.desktop-fill {
  padding: 1.92rem 0;
}

.desktop-fill:hover {
  background-color: var(--clr-dark-blue);
  cursor: auto;
}

/* To top button */

.to-top-btn {
  background-color: var(--clr-varm-grey);
  position: fixed;
  bottom: 50px;
  right: 4rem;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-dark-blue);
  pointer-events: none;
  opacity: 0;
  transition: all 0.4s;
  text-decoration: none;
  cursor: pointer;
  z-index: 75;
}

.to-top-btn.active {
  bottom: 200px;
  opacity: 1;
  pointer-events: auto;
}

/* Footer */

footer {
  height: 32rem;
  background-color: var(--clr-dark-blue);
  margin-top: 160px;
}

.footer-content {
  max-width: 70%;
  padding: 6rem 0 0;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.footer-credits {
  display: flex;
  justify-content: space-between;
}

.footer-credits p,
.footer-links p {
  margin-top: 12px;
}

.footer-logo {
  width: 150px;
  padding-top: 6.5rem;
}

.appendiks__footer__link {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1rem;
}

.appendiks__footer__link:hover {
  color: var(--clr-varm-grey);
}

.trykk__her {
  border-bottom: 1px solid white;
}

/* Modal Image */

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Adjusted height */
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: block;
  margin: auto;
  width: 100%;
  max-height: 130%; /* Adjusted max-height */
  object-fit: contain;
  overflow: auto; /* Added overflow property */
}

.close-bg {
  background-color: var(--clr-dark-blue);
  border-radius: 50%;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 15px;
  right: 15px;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


/* Media queries */

@media screen and (min-width: 1001px) {
  .container {
    margin-inline: auto;
    padding: 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item,
  .item-two {
    position: relative;
  }

  .item-two {
    height: 300px;
  }

  .dropdown__menu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: -60px;
    top: 5rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
    width: 300px;
  }

  .selskaper__group-right {
    max-height: initial;
    overflow: initial;
    position: absolute;
    right: 260px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
    width: 230px;
  }

  .dropdown__link {
    padding-inline: 0.9rem 3.5rem;
    width: 100%;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__item:hover .dropdown__menu,
  .dropdown__item:hover .selskaper__group-right {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top 0.3s;
  }

  .dropdown__item:hover .selskaper__group-right {
    top: 0;
  }

  .nav-mobile {
    display: none;
  }
}

@media (max-width: 1000px) {
  .page-container,
  .nav-desktop {
    display: none;
  }

  .page-container-small {
    display: flex;
  }

  .trykk {
    display: none;
  }
}

@media (max-width: 991px) {
  .footer-content {
    gap: 4rem;
  }
}

@media (max-width: 750px) {
  .to-top-btn {
    right: 0;
  }

  .close-bg {
    width: 35px;
    height: 35px;
    font-size: 30px;
  }

  .footer-logo {
    padding-top: 8.5rem;
  }
}

@media (max-width: 650px) {
  .footer-content {
    padding: 4.5rem 0 0;
  }

  .footer-credits {
    flex-direction: column;
  }

  .footer-logo {
    padding-top: 3rem;
  }

  .appendiks__footer__link {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .footer-content {
    gap: 3rem;
  }

  .footer-logo {
    padding-top: 3.5rem;
  }
}

@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}
